@charset "utf-8";
/* Configurações de fontes do projeto  */
@font-face {
    font-family: 'GothamBlack';
    src: url('fonts/Gotham-Black.eot');
    src: url('fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Black.woff') format('woff'),
    url('fonts/Gotham-Black.ttf') format('truetype'),
    url('fonts/Gotham-Black.svg#GothamBlack') format('svg');
    font-weight: normal !important;
    font-style: normal !important;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham-Book.eot');
    src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Book.woff') format('woff'),
    url('fonts/Gotham-Book.ttf') format('truetype'),
    url('fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal !important;
    font-style: normal !important;
}
@font-face {
    font-family: 'GothamMedium';
    src: url('fonts/Gotham-Medium.eot');
    src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Medium.woff') format('woff'),
    url('fonts/Gotham-Medium.ttf') format('truetype'),
    url('fonts/Gotham-Medium.svg#FiraSans-ExtraBold') format('svg');
    font-weight: normal !important;
    font-style: normal !important;
}

