html, body { height:100% }
body {
	background:url('../images/bg_login.jpg') no-repeat bottom;
	background-size:100% auto;
}
.row { margin:0; }
.logo_login {
	text-align:center;
	margin: 0px 0 30px 0;
	padding: 20px 0px;
}
.logo_login img {
	max-width:50%;
}
div.alert {
	display:none;
}
.posicao-conteudos{
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
@media (max-width: 1024px) {
	body{background-size: cover;}
}
