.articles .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
    margin: 0 auto 3rem;
    gap: 2rem;
}
.articles .cards .card {
    flex-basis: 100%;
    max-width: 370px;
    border: 0;
    box-shadow: 0px 0px 9px 0.5px rgba(122, 122, 122, 0.3);
}
.articles .cards .card .card-body {
    padding: 1.125rem 1.5rem;
}
.articles .cards .card .card-title {
    font-family: "Poppins SemiBold";
    font-size: 1rem;
    color: #272727;
    text-align: justify;
}
.articles .cards .card .card-date {
    display: block;
    font-size: 0.875rem;
    line-height: 1;
    color: #5d5d5d;
    margin-bottom: 0.5rem;
}
.articles .cards .card .card-description {
    display: -webkit-box;
    font-size: 0.875rem;
    line-height: 1.25;
    color: #5d5d5d;
    text-align: justify;
    margin-bottom: 0.5rem;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.articles .cards .card .card-link {
    font-family: "Poppins SemiBold";
    font-size: 0.875rem;
    color: #00a859;
    text-decoration: none;
    padding-right: 0.75rem;
}
.articles .cards .card:hover .card-link {
    color: #1fdf67;
}
@media(min-width: 768px) {
    .articles .cards {
        max-width: 720px;
    }
    .articles .cards .card {
        flex-basis: calc(100% / 2 - 1rem);
    }
}
@media(min-width: 1200px) {
    .articles .cards {
        max-width: 1175px;
        margin: 0 auto 5rem;
    }
    .articles .cards .card {
        flex-basis: calc(100% / 3 - 1.35rem);
    }
}

/* Página Interna do Artigo */
.internal-article {
    padding-top: 1.5rem;
}
.internal-article .section-title {
    max-width: 960px;
    margin: 0 auto 1rem;
}
.internal-article .section-subtitle {
    max-width: 960px;
    margin: 0 auto 1.25rem;
}
.internal-article .section-date {
    color: #5d5d5d;
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 3rem;
}
.internal-article .content {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.internal-article .content > * {
    color: #5d5d5d;
    text-align: justify;
}
.internal-article .content a {
    color: #2085d2;
    text-decoration: none;
}
.internal-article .content a:hover {
    text-decoration: underline;
}
@media(min-width: 768px) {
    .internal-article {
        padding-top: 3rem;
    }
}

/* Botões Compartilhar Notícia */
.internal-article .share-news {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 0.75rem 0.75rem;
    margin-bottom: 6rem;
}
.internal-article .share-news span {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: "Poppins SemiBold";
    font-size: 0.875rem;
    color: #898888;
    width: 160px;
    line-height: 1;
    padding-right: 2.5rem;
}
.internal-article .share-news span::before {
    content: "";
    position: absolute;
    right: 1rem;
    background-image: url("../images/icones/icone-share.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 17px;
}
.internal-article .share-news .share {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.internal-article .share-news .btn-share {
    color: #FFFFFF;
    width: 36px;
    height: 36px;
    border-radius: 5px;
}
.internal-article .share-news .btn-share.whatsapp {
    background-color: #25d366;
    border-color: #25d366;
}
.internal-article .share-news .btn-share.whatsapp:hover,
.internal-article .share-news .btn-share.whatsapp:focus {
    background-color: #1fa550;
    border-color: #1fa550;
}
.internal-article .share-news .btn-share.facebook {
    background-color: #4267b2;
    border-color: #4267b2;
}
.internal-article .share-news .btn-share.facebook:hover,
.internal-article .share-news .btn-share.facebook:focus {
    background-color: #234486;
    border-color: #234486;
}
.internal-article .share-news .btn-share.twitter {
    background-color: #55acee;
    border-color: #55acee;
}
.internal-article .share-news .btn-share.twitter:hover,
.internal-article .share-news .btn-share.twitter:focus {
    background-color: #2b7fbf;
    border-color: #2b7fbf;
}
.internal-article .share-news .btn-share.messenger {
    background-color: #448aff;
    border-color: #448aff;
}
 .internal-article .share-news .btn-share.messenger:hover,
.internal-article .share-news .btn-share.messenger:focus {
    background-color: #2869d6;
    border-color: #2869d6;
}
.internal-article .share-news .btn-share.telegram {
    background-color: #0088cc;
    border-color: #0088cc;
}
.internal-article .share-news .btn-share.telegram:hover,
.internal-article .share-news .btn-share.telegram:focus {
    background-color: #04608d;
    border-color: #04608d;
}
.internal-article .share-news .btn-share.envelope {
    background-color: #7d7d7d;
    border-color: #7d7d7d;
}
.internal-article .share-news .btn-share.envelope:hover,
.internal-article .share-news .btn-share.envelope:focus {
    background-color: #525252;
    border-color: #525252;
}
@media(min-width: 567px) {
    .internal-article .share-news {
        flex-direction: row;
        padding: 0.4375rem 0.75rem;
    }
    .internal-article .share-news .share {
        gap: 0.75rem;
    }
}