.page-institutional .institutional {
    margin-bottom: 5rem;
}
.page-institutional .institutional .content > * {
    color: #5d5d5d;
    margin-bottom: 0;
    text-align: justify;
}
.page-institutional .institutional .content ul {
    list-style-type: "-";
    text-align: left;
    line-height: 1.25;
    padding-left: 0.5rem;
}
.page-institutional .institutional .content ul li {
    padding-left: 0.375rem;
    margin-bottom: 0.5rem;
}
.page-institutional .institutional .content h4,
.page-institutional .institutional .content h5 {
    font-family: "Poppins SemiBold";
    font-size: 1rem;
    text-align: left;
    color: #272727;
    margin-bottom: 0.5rem;
}
.page-institutional .institutional .btn-green {
    max-width: 375px;
    margin: 3rem auto 0;
}
@media(min-width: 576px) {
    .page-institutional .institutional .content h4,
    .page-institutional .institutional .content h5 {
        font-size: 1.125rem;
    }
}
@media(min-width: 768px) {
    .page-institutional .institutional .content h4,
    .page-institutional .institutional .content h5 {
        font-size: 1.5rem;
    }
}
@media(min-width: 1200px) {
    .page-institutional .institutional {
        margin-bottom: 8rem;
    }
    .page-institutional .institutional .section-underline {
        margin-bottom: 5rem;
    }
}