body {
  font-family: 'Poppins';
  background-color: #FFFFFF;
}

.fs-small {font-size: 0.875rem;}
.text-green {color: #00a859;}

/* Container */
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl,
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media(min-width: 1200px) and (max-width: 1399px) {
  .container { width: 100%; max-width: 98%; }
}
@media(min-width: 1400px) {
  .container { max-width: 1350px; }
}

/* Animações */
.animate {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
}
.slideIn {
  animation-name: slideIn;
  -webkit-animation-name: slideIn;
}
@keyframes slideIn {
  0% { transform: translateY(1rem); opacity: 0; }
  100% { transform: translateY(0rem); opacity: 1; }
  0% { transform: translateY(1rem); opacity: 0; }
}
@-webkit-keyframes slideIn {
  0% { -webkit-transform: translateY(1rem); -webkit-opacity: 0; }
  100% { -webkit-transform: translateY(0); -webkit-opacity: 1; }
  0% { -webkit-transform: translateY(1rem); -webkit-opacity: 0; }
}

/* Input Autocomplete Transparente */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Section Title e Subtitle */
.section-title {
  font-family: "Poppins SemiBold";
  font-size: 1.25rem;
  color: #272727;
  text-align: center;
}
.section-subtitle {
  font-family: "Poppins";
  font-size: 1rem;
  color: #5d5d5d;
  text-align: center;
}
@media(min-width: 576px) {
  .section-title {
    font-size: 1.625rem;
  }
  .section-subtitle {
    font-size: 1.125rem;
  }
}
@media(min-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
}

/* Section Underline */
.section-underline {
  position: relative;
  margin-bottom: 3.5rem;
  padding-bottom: 0.875rem;
}
.section-underline::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 60px;
  height: 5px;
  border-radius: 0.25rem;
  background-color: #00a859;
}

/* Botão Padrão */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.btn:focus {
  box-shadow: none;
}

/* Botão Verde */
.btn-green {
  height: 56px;
  font-size: 1.125rem;
  font-family: "Poppins SemiBold";
  background-color: #00a859;
  border-color: #00a859;
  color: #ffffff;
  border-radius: 1.75rem;
}
.btn-green:hover,
.btn-green:focus {
  background-color: #1fdf67;
  border-color: #1fdf67;
  color: #ffffff;
}

/* Botão Contorno Verde */
.btn-outline-green {
  height: 56px;
  font-size: 1.125rem;
  font-family: "Poppins SemiBold";
  background-color: transparent;
  border-color: #00a859;
  color: #00a859;
  border-radius: 1.75rem;
}
.btn-outline-green:hover,
.btn-outline-green:focus {
  background-color: #00a859;
  border-color: #00a859;
  color: #ffffff;
}

/* Botão Branco */
.btn-white {
  height: 56px;
  font-size: 1.125rem;
  font-family: "Poppins SemiBold";
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #00a859;
  border-radius: 1.75rem;
}
.btn-white:hover,
.btn-white:focus {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #ffffff;
}

/* Breadcrumb */
.breadcrumb {
  padding-top: 0.375rem;
  margin-bottom: 1.5rem;
}
.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item a {
  font-family: "Poppins";
  font-size: 0.75rem;
  color: #5d5d5d;
  text-decoration: none;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #272727;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.25rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
  padding-right: 0.25rem;
}
@media(min-width: 1200px) {
  .breadcrumb {
    padding-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

/* Scrollbar Horizontal */
.scrollbar-h {
  background-color: #e3e3e3;
  position: absolute;
  left: 1.125rem;
  bottom: calc(2rem + 2px);
  width: calc(100% - 1rem);
  height: 7px;
  z-index: -10;
}
@media(min-width: 576px) {
  .scrollbar-h {
    max-width: calc(540px - 2rem);
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
@media(min-width: 768px) {
  .scrollbar-h {
    max-width: calc(720px - 2rem);
  }
}
@media(min-width: 992px) {
  .scrollbar-h {
    max-width: calc(960px - 2rem);
  }
}
@media(min-width: 1200px) {
  .scrollbar-h {
    display: none;
  }
}

/* Navbar */
.navbar {
  height: 112px;
  background-color: #FFFFFF;
}
.navbar .navbar-brand {
  position: absolute;
  left: 50%;
  width: 240px;
  z-index: 1030;
  transform: translateX(-50%);
}
.navbar .navbar-collapse .nav-item .nav-link {
  position: relative;
  display: inline-block;
  font-family: "Poppins SemiBold";
  font-size: 1.125rem;
  color: #000000;
  margin: 0.75rem 0;
  padding: 0;
}
.navbar .navbar-collapse .nav-item .nav-link.dropdown-toggle.active {
  color: #00a859;
}
.navbar .navbar-collapse .nav-item:not(:nth-child(4)) .nav-link:hover,
.navbar .navbar-collapse .nav-item:not(:nth-child(4)) .nav-link:focus,
.navbar .navbar-collapse .nav-item:not(:nth-child(4)) .nav-link.active {
  color: #00a859;
}
.navbar .navbar-collapse .nav-item:last-child .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: 1px solid #00a859;
  color: #00a859;
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-radius: 1.5rem;
}
.navbar .navbar-collapse .nav-item:last-child .nav-link:hover,
.navbar .navbar-collapse .nav-item:last-child .nav-link:focus {
  background-color: #00a859;
  border-color: #00a859;
  color: #FFFFFF;
}
@media(min-width: 1200px) {
  .navbar .navbar-brand {
    position: initial;
    left: auto;
    width: auto;
    transform: initial;
  }
  .navbar .navbar-collapse .nav-item .nav-link {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
  .navbar .navbar-collapse .nav-item:last-child .nav-link {
    width: 170px;
    height: 34px;
    line-height: 34px;
    border-radius: 1rem;
    margin-right: 0;
  }
}
@media(min-width: 1280px) {
  .navbar .navbar-collapse .nav-item .nav-link {
    margin: 0 1rem;
  }
}

/* Navbar Collapse */
.navbar .navbar-collapse .dropdown .dropdown-toggle::after {
  content: "\f078";
  font: var(--fa-font-solid);
  font-size: 0.75rem;
  color: #000000;
  border: none;
  margin-left: 0.5rem;
  vertical-align: inherit;
  transition: transform 0.3s;
}
.navbar .navbar-collapse .dropdown .dropdown-toggle.active::after {
  color: #00a859;
}
.navbar .navbar-collapse .dropdown .dropdown-menu {
  padding: 1rem 1rem 1rem 1.5rem;
  border: none;
  background-color: #00A859;
}
.navbar .navbar-collapse .dropdown .dropdown-menu .dropdown-item {
  font-family: "Poppins SemiBold";
  font-size: 1rem;
  color: #FFFFFF;
  padding: 0;
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}
.navbar .navbar-collapse .dropdown .dropdown-menu .dropdown-item:hover,
.navbar .navbar-collapse .dropdown .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
  color: #000000;
}
@media(max-width: 1199px) {
  .navbar .navbar-collapse {
    position: fixed;
    z-index: 1020;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    height: calc(100% - 7rem);
    margin-top: auto;
    overflow-y: auto;
    padding: 1rem 2rem;
    background-color: #FFFFFF;
    transition: left .15s ease-in-out;
  }
  .navbar .navbar-collapse.show {
    transition: left .15s ease-in-out;
    left: 10%;
  }
  .navbar .navbar-collapse::before {
    content: "";
    position: fixed;
    z-index: 1020;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(10,10,10,0.5);
    transition: right .15s ease-in-out;
  }
  .navbar .navbar-collapse.show::before {
    transition: right .15s ease-in-out;
    right: 90%;
  }
  .navbar .navbar-collapse .dropdown .dropdown-toggle::after {
    position: absolute;
    top: 0;
    right: -1rem;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  .navbar .navbar-collapse .dropdown .dropdown-toggle.show::after {
    transform: rotate(180deg);
  }
  .navbar .navbar-collapse .dropdown .dropdown-menu .dropdown-item {
    white-space: inherit;
  }
}
@media(min-width: 1200px) {
  .navbar .navbar-collapse .dropdown .dropdown-menu {
    top: 2.5rem;
    padding: 0.875rem 1.75rem;
    border-radius: 0.625rem;
    background-color: #00A859;
    box-shadow: 0px 0px 9.5px 0.5px rgba(122, 122, 122, 0.25);
  }
  .navbar .navbar-collapse .dropdown.show .dropdown-toggle::after {
    transform: rotate(180deg);
  }
}

/* Navbar Menu Hamburger */
.navbar .navbar-toggler {
  position: relative;
  cursor: pointer;
  height: 21px;
  width: 28px;
  padding: 0;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  z-index: 1030;
}
.navbar .navbar-toggler span {
  display: block;
  position: absolute;
  width: 28px;
  height: 3px;
  border-radius: 5px;
  background-color: #000000;
  -webkit-transition: -webkit-transform 0.3s;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.navbar .navbar-toggler span:nth-child(1) { top: 0px; }
.navbar .navbar-toggler span:nth-child(2) { top: 9px; }
.navbar .navbar-toggler span:nth-child(3) { top: 18px; }
.navbar .navbar-toggler.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 9px;
}
.navbar .navbar-toggler.active span:nth-child(2) {
  opacity: 0;
}
.navbar .navbar-toggler.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 9px;
}

/* footer */
.footer {
  padding-top: 3rem;
  background-color: #5a5b5c;
}
.footer .socials {
  margin-top: 2rem;
  margin-bottom: 1.75rem;
}
.footer .footer-title {
  font-family: "Poppins SemiBold";
  display: block;
  color: #1fdf67;
}
.footer .nav-info .nav-link {
  font-size: 0.875rem;
  color: #FFFFFF;
  padding: 0;
}
.footer .nav-info a.nav-link:hover,
.footer .nav-info a.nav-link:focus {
  opacity: .8;
  transition: all 0.2s;
}
.footer .btn-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Poppins Regular Italic";
  font-size: 0.75rem;
  color: #dadada;
}
.footer .btn-link:hover,
.footer .btn-link:focus {
  color: #FFFFFF;
}
.footer .footer-copyright {
  margin-top: 3rem;
  padding-top: 1.75rem;
  padding-bottom: 1.25rem;
  background-color: #4f4f4f;
}
.footer .footer-copyright span {
  display: block;
  text-align: center;
  color: #FFFFFF;
}
.footer .footer-copyright span:nth-child(1) {
  font-size: 0.875rem;
}
.footer .footer-copyright span:nth-child(2) {
  font-size: 0.75rem;
}
@media(min-width: 1200px) {
  .footer {
    padding-top: 4rem;
  }
  .footer .btn-link {
    justify-content: flex-start;
  }
  .footer .footer-copyright {
    margin-top: 4rem;
  }
}

/* Form Newsletter */
.form-newsletter .input-group {
  width: 100%;
  max-width: 320px;
  height: 38px;
}
.form-newsletter .input-group input {
  font-size: 0.75rem;
  background-color: #7b7c7d;
  border-color: #7b7c7d;
  color: #FFFFFF;
  padding-left: 0.125rem;
}
.form-newsletter .input-group input:focus {
  box-shadow: none;
}
.form-newsletter .input-group input::placeholder {
  font-size: 0.75rem;
  color: #FFFFFF;
}
.form-newsletter .input-group span {
  background-color: #7b7c7d;
  border-color: #7b7c7d;
}
.form-newsletter .input-group span::before {
  content: "";
  background: url("../images/icones/icone-newsletter.png") no-repeat;
  width: 18px;
  height: 12px;
}
.form-newsletter .input-group button {
  font-family: "Poppins SemiBold";
  font-size: 0.75rem;
  color: #4f4f4f;
  padding: 0.25rem 0.625rem;
  background-color: #c5c5c5;
  border-color: #c5c5c5;
  border-radius: 5px!important;
  margin-left: -3px!important;
  z-index: 3;
}

/* Icones Redes Sociais Rodapé */
.icone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.icone.icone-redondo {
  width: 50px;
  height: 50px;
  background-color: #1fdf67;
  border-radius: 50%;
}
.icone.icone-redondo:hover::before {
  animation: toBottomFromTop 0.4s forwards;
  -moz-animation: toBottomFromTop 0.4s forwards;
  -webkit-animation: toBottomFromTop 0.4s forwards;
}
.icone-facebook::before {
  content: "";
  width: 11px;
  height: 21px;
  background-image: url("../images/icones/icone-facebook.png");
  background-repeat: no-repeat;
}
.icone-instagram::before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../images/icones/icone-instagram.png");
  background-repeat: no-repeat;
}
.icone-twitter::before {
  content: "";
  width: 24px;
  height: 19px;
  background-image: url("../images/icones/icone-twitter.png");
  background-repeat: no-repeat;
}
.icone-linkedin::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/icones/icone-linkedin.png");
  background-repeat: no-repeat;
}
.icone-youtube::before {
  content: "";
  width: 22px;
  height: 25px;
  background-image: url("../images/icones/icone-youtube.png");
  background-repeat: no-repeat;
}
@-webkit-keyframes toBottomFromTop {
  49% { -webkit-transform: translateY(100%); }
  50% { opacity: 0; -webkit-transform: translateY(-100%); }
  51% { opacity: 1; }
}
@-moz-keyframes toBottomFromTop {
  49% { -moz-transform: translateY(100%); }
  50% { opacity: 0; -moz-transform: translateY(-100%); }
  51% { opacity: 1; }
}
@keyframes toBottomFromTop {
  49% { transform: translateY(100%); }
  50% { opacity: 0; transform: translateY(-100%); }
  51% { opacity: 1; }
}

/* Botões flutuantes */
.buttons-floating {
  position: fixed;
  bottom: 10px;
  right: 16px;
  z-index: 1030;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.buttons-floating a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: #FFF;
}
.buttons-floating a.btn-arrow-up {
  width: 40px;
  height: 40px;
  background-color: #4f4f4f;
}
.buttons-floating a.btn-whatsapp {
  width: 60px;
  height: 60px;
  background-color: #25d366;
}
.buttons-floating a.btn-whatsapp i {
  font-size: 1.75rem;
}
@media(min-width: 1600px) {
  .buttons-floating {
    bottom: 16px;
    right: 16px;
  }
}

/* Cookies */
.toast {
  position: fixed;
  bottom: 0;
  right: 1rem;
  left: 1rem;
  width: auto;
  border: none;
  box-shadow: none;
  background-color: transparent;
  z-index: 1030;
}
.toast .toast-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 1.5rem;
  background-color: #FFFFFF;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 9.5px 0.5px rgba(122, 122, 122, 0.25);
}
.toast .toast-body span {
  color: #181818;
  font-size: 0.875rem;
  width: 100%;
}
.toast .toast-body span a {
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 700;
  color: #00a859;
}
.toast .toast-body span a:hover {
  text-decoration: underline;
}
.toast .toast-body .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.toast .toast-body .buttons .btn-toast {
  font-family: "Poppins SemiBold";
  font-size: 1rem;
  height: 46px;
  width: 100%;
  max-width: 306px;
  border-radius: 1.375rem;
  background-color: #FFFFFF;
  border-color: #00a859;
  color: #00a859;
}
.toast .toast-body .buttons .btn-toast:hover,
.toast .toast-body .buttons .btn-toast:focus {
  background-color: #00a859;
  border-color: #00a859;
  color: #FFFFFF;
}
@media(min-width: 576px) {
  .toast {
    width: 100%;
    max-width: calc(540px - 2rem);
    margin: 0 auto;
  }
  .toast .toast-body {
    max-width: 398px;
    padding: 2rem 2.875rem;
  }
}
@media(min-width: 768px) {
  .toast {
    max-width: calc(720px - 2rem);
  }
}
@media(min-width: 992px) {
  .toast {
    max-width: calc(960px - 2rem);
  }
}
@media(min-width: 1200px) {
  .toast {
    max-width: calc(98% - 2rem);
  }
}
@media(min-width: 1200px) {
  .toast {
    max-width: calc(1350px - 2rem);
  }
}

/* Paginação */
.pagination {
  gap: 0.75rem;
  margin-bottom: 5rem;
}
.pagination .page-item .page-link {
  font-family: "Poppins SemiBold";
  font-size: 0.875rem;
  text-transform: uppercase;
}
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  color: #00a859;
  padding: 0 0.5rem;
  border: none;
  height: 40px;
  line-height: 40px;
}
.pagination .page-item:first-child .page-link:hover,
.pagination .page-item:first-child .page-link:focus,
.pagination .page-item:last-child .page-link:hover,
.pagination .page-item:last-child .page-link:focus {
  background-color: #FFFFFF;
}
.pagination .page-item:first-child .page-link::before {
  content: "<";
  position: absolute;
  left: 0;
}
.pagination .page-item:last-child .page-link::before {
  content: ">";
  position: absolute;
  right: 0;
}
.pagination .page-item:first-child .page-link span,
.pagination .page-item:last-child .page-link span {
  display: none;
}
.pagination .page-item:not(:first-child) .page-link {
  margin-left: initial;
}
.pagination .page-item:not(:first-child, :last-child) .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-color: #00a859;
  color: #00a859;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 0.313rem;
}
.pagination .page-item.active:not(:first-child, :last-child) .page-link,
.pagination .page-item:not(:first-child, :last-child) .page-link:hover {
  background-color: #00a859;
  border-color: #00a859;
  color: #FFFFFF;
}
.pagination .page-item .page-link:focus {
  box-shadow: none;
}
@media(min-width: 567px) {
  .pagination .page-item:first-child .page-link span,
  .pagination .page-item:last-child .page-link span {
    display: flex;
  }
  .pagination .page-item:first-child .page-link::before {
    left: -0.5rem;
  }
  .pagination .page-item:last-child .page-link::before {
    right: -0.5rem;
  }
}