@charset "utf-8";
/* Configurações de fontes do projeto  */
@font-face {
    font-family: 'FranklinGothic-Medium';
    src: url('fonts/FranklinGothic-Medium.eot');
    src: url('fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/FranklinGothic-Medium.woff') format('woff'),
    url('fonts/FranklinGothic-Medium.ttf') format('truetype'),
    url('fonts/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: normal !important;
    font-style: normal !important;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Lato-Regular.woff') format('woff'),
    url('fonts/Lato-Regular.ttf') format('truetype'),
    url('fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;
}